In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
df=pd.read_csv("logisticRegressionSubmit.csv")

In [27]:
df.head()

    X     Y
0  12  Fail
1  36  Pass
2  37  Pass
3  47  Pass
4  10  Fail

In [30]:
X=df.iloc[:,:-1].values
X

array([[12],
       [36],
       [37],
       [47],
       [10],
       [10],
       [96],
       [23],
       [51],
       [72],
       [65],
       [15],
       [29],
       [45],
       [50]])

In [31]:
Y=df.iloc[:,-1].values
Y

array(['Fail', 'Pass', 'Pass', 'Pass', 'Fail', 'Fail', 'Pass', 'Fail',
       'Pass', 'Pass', 'Pass', 'Fail', 'Fail', 'Pass', 'Pass'],
      dtype=object)

In [32]:
from sklearn.model_selection import train_test_split#to import the variable

In [33]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state=4,test_size = 0.25)#train cheynolla 
#values xtrain,ytrainll kodukannam
#test cheyanollath x train,y trainlum
#test size means 75 percent data in table train cheyan upayogikkum so 25 test cheyanaayit .

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
A=LogisticRegression()

In [36]:
A.fit(x_train,y_train)

LogisticRegression()

In [37]:
y_test,A.predict(x_test)#ytest shows the values in above table,a.predictxtest showsthe result of x that is values in y

(array(['Fail', 'Fail', 'Pass', 'Pass'], dtype=object),
 array(['Fail', 'Fail', 'Pass', 'Pass'], dtype=object))