In [ ]:
x=10
y=20
z=x+y
print(z)

30

In [ ]:
def add():
  x=int(input("enter a no"))
  y=int(input("entr a value"))
  print(x+y)

In [ ]:
add()

enter a no5
entr a value4
9

In [ ]:
def sub():
  x=int(input("enter a no"))
  y=int(input("entr a value"))
  print(x-y)

In [ ]:
sub()

enter a no5
entr a value4
1

In [ ]:
def divide():
  x=int(input("enter a no"))
  y=int(input("entr a value"))
  print(x/y)

In [ ]:
divide()

enter a no10
entr a value5
2.0

In [ ]:
def multiply():
  x=int(input("enter a no"))
  y=int(input("entr a value"))
  print(x*y)

In [ ]:
multiply()

enter a no5
entr a value4
20

In [ ]:
def number():
  z=int(input("enter a function"))
  if z==1:
    v=add()
    print(v)
  if z==2:
    v=sub()  
    print(v)
  if z==3:
    v=divide()
    print(v)  
  if z==4:
    v=multiply()  
    print(v)

In [ ]:
number()

enter a function1
enter a no5
entr a value4
9
None

In [ ]:
number()

enter a function2
enter a no5
entr a value4
1
None

In [ ]:
number()

enter a function3
enter a no5
entr a value4
1.25
None

In [ ]:
number()

enter a function4
enter a no5
entr a value4
20
None

In [ ]:
def add(x,y):
   z=x+y
   print(z)

In [ ]:
add(4,5)

9

In [ ]:
x=int(input("enter a no"))
y=int(input("enter a no"))
add(x,y)

enter a no5
enter a no4
9

In [ ]:
def sub(x,y):
   z=x-y
   print(z)

In [ ]:
def multiply(x,y):
   z=x*y
   print(z)

In [ ]:
def divide(x,y):
  z=x/y
  print(z)

In [ ]:
x=int(input("enter a no"))
y=int(input("enter a no"))
z=int(input("enter the function"))
if z==1:
  v=add(x,y)
  print(v)
if z==2:
  v=sub(x,y)  
  print(v)
if z==3:
  v=divide(x,y)
  print(v)  
if z==4:
  v=multiply(x,y)  
  print(v)

enter a no5
enter a no4
enter the function3
1.25
None