In [ ]:
X=["Alan","Kodakara",19]

In [ ]:
X[0]

'Alan'

In [ ]:
X[-1]

19

In [ ]:
X[-1]=1999

In [ ]:
X

['Alan', 'Kodakara', 1999]

In [ ]:
x=0
while x<=10:
  print("value of x=",x)
  x=x+1

value of x= 0
value of x= 1
value of x= 2
value of x= 3
value of x= 4
value of x= 5
value of x= 6
value of x= 7
value of x= 8
value of x= 9
value of x= 10

In [ ]:
x=0
total=0
while x<=100:
  total=total+x
  x=x+1
print(total)

5050

In [ ]:
z=int(input("enter a number"))
x=1
factorial=1
while x<=z:
  factorial=factorial*x
  x=x+1
print(factorial)

enter a number11
39916800

In [ ]:
10%5

0

In [ ]:
53%5

3

In [ ]:
x=0
total=0
while x<=100:
  if(x%5==0): 
    total=total+x
  x=x+1
print(total)

1050

In [ ]:
for x in range(100):  
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
t=0
for x in range(100):
  t=t+x
print(t)

4950

In [ ]:
z=int(input("enter a no. "))
f=1
for x in range(1,z+1):
  f=f*x
  print(f)

enter a no.  3
1
2
6