In [ ]:
amt=int(input("enter the amount"))
if amt<=250000:
  tax=0
if amt<=500000 and amt>250000:
  x=amt-250000
  tax=(x*5)/100
if amt<=75000 and amt>500000:
  x=amt-500000
  tax=12500+x*(10/100)
if amt<=1000000 and amt>750000:
  x=amt-750000
  tax=37500+x*(15/100)
if amt<=1250000 and amt>1000000:
  x=amt-1000000
  tax=75000+(x*20)/100
if amt<=1500000  and amt>1250000:
   x=amt-1250000
   tax=125000+(x*25)/100
if amt>1500000:
  x=amt-1500000
  tax=187500+(x*30)/100
print(tax)

enter the amount800000
45000.0

In [ ]:
amt=int(input("enter the amount"))
def Alan(a,b,c,d):
  x=a-b
  tax=c+x*(d/100)
  print(tax)
if amt<=250000:
  tax=0
if amt<=500000 and amt>250000:
  Alan(amt,250000,0,5)
if amt<=75000 and amt>500000:
  Alan(amt,500000,12500,10)
if amt<=1000000 and amt>750000:
  Alan(amt,750000,37500,15)
if amt<=1250000 and amt>1000000:
  Alan(amt,100000,75000,20)
if amt<=1500000  and amt>1250000:
  Alan(amt,1250000,125000,25)
if amt>1500000:
  Alan(amt,1500000,187500,30)

enter the amount300000
2500.0